<div class="cart-container">
    <h1 class="titulo-principal">Carrito de Compras</h1>
    
    {{#if cart.productos.length}}
        <div class="cart-items">
            {{#each cart.productos}}
                <div class="cart-item">
                    <img src="/img/{{this.producto.thumbnail}}" alt="{{this.producto.nombre}}" class="producto-imagen">
                    <div class="item-info">
                        <h3>{{this.producto.nombre}}</h3>
                        <p>Precio: ${{this.producto.precio}}</p>
                        <p>Cantidad: {{this.quantity}}</p>
                    </div>
                    <form
                        action="/api/carts/{{../cart._id}}/producto/{{this.producto._id}}?_method=DELETE"
                        method="POST"
                        class="form-eliminar">
                        <button type="submit" class="btn btn-eliminar">Eliminar del carrito</button>
                    </form>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>No hay productos en el carrito</p>
    {{/if}}
    
    <div class="acciones-principales">
        <a href="/productos" class="btn btn-ver">Volver al Catálogo</a>
    </div>
</div>