<div class="productos-container">
    <h1 class="titulo-principal">Editar producto</h1>

    <div class="product-container">
        <form action="/api/products/{{producto._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
            <label for="code">Código: </label>
            <input type="number" id="code" name="code" value="{{producto.code}}" required>
            
            <label for="title">title: </label>
            <input type="text" id="title" name="title" value="{{producto.title}}" required>
            
            <label for="price">price: </label>
            <input type="number" id="price" name="price" value="{{producto.price}}" required>
            
            <label for="description">Descripción: </label>
            <input type="text" id="description" name="description" value="{{producto.description}}" required>
            
            <label for="file">Imagen del producto:</label>
            <input type="file" id="file" name="file">
            
            <label for="stock">Stock: </label>
            <input type="number" id="stock" name="stock" value="{{producto.stock}}" required>
            
            <input type="hidden" name="status" value="{{producto.status}}">
            
            <br>
            <br>
            <button type="submit" class="btn btn-agregar">Actualizar Producto</button>
        </form>
    </div>
</div>
